@use '../../sass/variables' as *;


.product-detail {
    padding-top: 50px;
    justify-content: center;
    display: grid;
    grid-template-columns: 30% 30%;
    text-align: left;

    img {
        width: 400px;
        cursor: pointer;
    }

    p {
        font-size: 20px;
        font-weight: 400;
    }

    &__cube-colors {
        display: flex;
        gap: 10px;
        align-items: center;
        cursor: pointer;
    }

    button {
        margin-top: 60px;
        width: 500px;
        padding: 10px;
        background-color: $cor-secundaria;
        border: none;
        border-radius: 10px;
        height: 50px;

        a {
            text-decoration: none;
            color: #FFFFFF;
            font-size: 20px;
        }
    }
}